.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: var(--small-padding);
  margin: var(--small-padding);
  border-radius: 8px;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 24px;
  margin-bottom: 24px;
}

.cardHeader h1 {
  margin: 0;
  color: var(--dark-purple);
}

@media (min-width: 600px) {
  .card {
    max-width: 520px;
  }
}