.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: var(--small-padding);
  margin: var(--small-padding);
  border-radius: 8px;
  box-shadow: 8px 8px 36px -16px var(--dark-purple);
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 24px;
  margin-bottom: 24px;
}

.cardHeader h1 {
  margin: 0;
  color: var(--dark-purple);
}

.cardHeader img {
  width: 24px;
  height: 24px;
}

@media (min-width: 600px) {
  .card {
    max-width: 620px;
    padding: 48px;
  }

  .cardHeader h1 {
    font-size: 4rem;
  }

  .cardHeader img {
    width: 40px;
    height: 40px;
  }
}