.accordion {
  color: var(--dark-purple);
}

.accordion > div {
  background-color: transparent;
  overflow: hidden;
  border-bottom: 1px solid var(--light-pink);
  margin-top: 20px;
}

.accordion > div:first-child {
  margin-top: 0;
}

.accordion > div:last-child {
  border-bottom: none;
}

.accordionItem {
  color: var(--dark-purple);
  font-weight: var(--bold-weight);
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
}

.accordionItem > button {
  border: 0;
  text-decoration: none;
  background-color: transparent;
}

.accordionDetails {
  color: var(--greyish-purple);
  font-size: 14px;
  line-height: 20px;
  padding-top: 16px;
  padding-bottom: 24px;
}

.accordionDetails.inActive {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* Select all accordianItems in inactive group */
.accordion div:has(.accordionDetails.inActive) .accordionItem {
  margin-bottom: 16px;
}
.accordion div:has(.accordionDetails.inActive):last-child .accordionItem {
  margin-bottom: 0;
}