.accordion {
  color: var(--dark-purple);
}

/* Style accordian group */
.accordion > div {
  background-color: transparent;
}

.accordionItem {
  color: var(--dark-purple);
}
.accordionDetails {
  color: var(--dark-purple);
}