.accordion {
  color: var(--dark-purple);
}

/* Style accordian group */
.accordion > div {
  background-color: transparent;
}

.accordionItem {
  color: var(--dark-purple);
  font-weight: var(--bold-weight);
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
}

.accordionItem > button {
  border: 0;
  text-decoration: none;
  background-color: transparent;
}

.accordionDetails {
  color: var(--greyish-purple);
  font-size: 14px;
  line-height: 20px;
}